.container {
  margin: 50px auto;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template: repeat(3, minmax(25px, 1fr)) / repeat(3, minmax(25px, 1fr));
  gap: 0px;
}
.game-div {
  border: 1px black solid;
}
.win-div {
  border: 5px green solid;
}
.hidden {
  display: none;
}
.player-container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}
.turn {
  border: 5px solid orange;
}